@using Insya.Localization;
@model FCS.Models.GasStationEntry
@if (TempData["toast_warning"] != null)
{
    <div class="alert alert-warning">
        @TempData["Warning"]
    </div>
}
@* @await Html.PartialAsync("Controls/_Common") *@

<div class="sidebar-sticky">
    <div class="card bg-light fixedcontrolbar shadow-0">
        <div class="card-header header-elements-inline p-1">
            <div class="btn-group-sm" role="group" aria-label="First group">
                <a class="btn btn-info mr-1 legitRipple" href="/Administrator/GasStationEntries">
                    <span class="icon-arrow-left16"></span> <span class="hidden-xs"><span class="_local" data="backtolist">backtolist</span></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row"> 

    <div class="col-6">
        <form method="post" asp-action="SetSession">
            <div class="card">
                <div class="card-header bg-light header-elements-inline py-1">
                    <h5 class="card-title">
                       Set Session
                    </h5>
                    <div class="header-elements">
                    </div>
                </div>
                <div class="card-body py-1 px-2 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger p-2"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="GasStation" class="form-label  fs-5">Gas Station</label>
                                <select asp-for="GasStationId" class="form-control select-search" asp-items="ViewBag.GasStationId" id="GasStationId">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="FuelType" class="form-label   fs-5">Fuel Type</label>
                                <select asp-for="FuelTypeId" class="form-control select-search" asp-items="ViewBag.FuelTypeId" id="FuelTypeId">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="Vehicle.VehicleTypeId" class="form-label  fs-5">Vehicle Type</label>
                                <select asp-for="Vehicle.VehicleTypeId" class="form-control select-search" asp-items="ViewBag.VehicleTypeId" id="VehicleTypeId">
                                    <option value="">-Select-</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="d-grid d-md-flex justify-content-md-end">
                                <div class="mb-4 mt-5">

                                    <button type="button" class="btn btn-info btn-sm w-100 w-md-auto px-3" onclick="setSession()">Set Session</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </form>
    </div>
   
        <div class="col-6">
            <form asp-action="Create">
                <div class="card">
                    <div class="card-header bg-light header-elements-inline py-1">
                        <h5 class="card-title">
                            @Html.Raw(Localization.Get(ViewData["action"].ToString())) | @Html.Raw(Localization.Get(ViewData["pageName"].ToString()))
                        </h5>
                        <div class="header-elements">
                            
                        </div>
                    </div>
                <div class="card-body py-1 px-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger p-2"></div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="PlateNumber" class="form-label  fs-5">Plate Number</label>
                                <div class="input-group">
                                    <input asp-for="PlateNumber" class="form-control rounded-start" id="PlateNumber" autocomplete="off" placeholder="Enter Plate Number..." />
                                    <button type="button" class="btn btn-primary" onclick="searchByPlateNumber()">🔍</button>
                                </div>
                                <span asp-validation-for="PlateNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Vehicle" class="form-label  fs-5">Vehicle</label>
                                <select asp-for="VehicleId" class="form-select select-search" id="VehicleId">
                                    <option value="">-- Select a Vehicle --</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="Quantity" class="form-label  fs-5">Quantity</label>
                                <input asp-for="Quantity" type="number" class="form-control" min="1" autocomplete="off" placeholder="Enter quantity..." />
                                <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="d-grid d-md-flex justify-content-md-end">
                                <div class="mb-4 mt-5">

                                    <button type="submit" class="btn btn-info btn-sm w-100 w-md-auto px-3">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" asp-for="IsActive" value="True" />
                    <input type="hidden" asp-for="IsDeleted" value="True" />
                </div>
                </div>
            </form>
        </div>
 
</div>


@{
    var recentEntries = ViewBag.RecentEntries as List<FCS.Models.GasStationEntry>;

    if (recentEntries != null)
    {
        
        recentEntries = recentEntries.OrderByDescending(entry => entry.EntryDate).ToList();
    }
}


@if (recentEntries != null && recentEntries.Any())
{
    <div class="card shadow-lg rounded-3">
        <div class="card-header bg-light  py-1">
            <h5 class="card-title">Recent Entries</h5>
        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Plate Number</th>
                        <th>Fuel Type</th>
                        <th>Vehicle Type</th>
                        <th>Entry Date</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entry in recentEntries)
                    {
                        <tr>
                            <td>@entry.PlateNumber</td>
                            <td>@entry.FuelType?.Name</td>
                            <td>@entry.Vehicle?.VehicleType?.Name</td>
                            <td>@entry.EntryDate.ToString("yyyy-MM-dd")</td>
                            <td>@entry.Quantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <p>No recent entries found.</p>
}

@section Scripts {
    @{await Html.RenderPartialAsync("js/_date");}
    @{await Html.RenderPartialAsync("js/_select2");}
    @{await Html.RenderPartialAsync("js/_ValidationScriptsPartial");}
    <script type="text/javascript">
        let calendar = $.calendars.instance('ethiopian', 'am');
        let gcalendar = $.calendars.instance('gregorian', 'en');
        $('#EntryDate').calendarsPicker({
            calendar: gcalendar
        });

        function searchByPlateNumber() {
            var plateNumber = $('#PlateNumber').val().trim();

            if (!plateNumber) {
                Swal.fire({
                    icon: 'warning',
                    
                    text: 'Please enter a plate number.',
                    toast: true,
                    position: 'top-middle',
                    showConfirmButton: false,
                    timer: 2500,
                    timerProgressBar: true
                });
                return;
            }

            console.log("Searching for plate number:", plateNumber);

            $.ajax({
                url: '/Administrator/GasStationEntries/SearchByPlateNumber',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ PlateNumber: plateNumber }),
                dataType: 'json',
                success: function (data) {
                    console.log("Received data:", data);

                    var vehicleDropdown = $('#VehicleId');

                    if (!data || data.message) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Warning',
                            // text: data.message,
                            text: 'Please enter Plate Number!',
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                            customClass: { popup: 'thin-toast' },
                          
                           
                        });

                        vehicleDropdown.html('<option value="">No vehicles found</option>');
                        return;
                    }

                    var html = `<option value="${data.id}">${data.plateNumber} - ${data.name}</option>`;
                    vehicleDropdown.html(html);

                    Swal.fire({
                        icon: 'success',
                        title: 'Vehicle Found',
                        text: `${data.plateNumber} - ${data.name}`,
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 2500,
                        timerProgressBar: true
                    });
                },


                error: function (xhr, status, error) {
                    console.error('Error:', xhr.responseText);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred while searching for vehicles.',
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 2500,
                        timerProgressBar: true
                    });
                }
            });
        }


        function setSession() {
            let vehicleTypeElement = document.getElementById('VehicleTypeId');
            let fuelTypeElement = document.getElementById('FuelTypeId');
            let gasStationElement = document.getElementById('GasStationId');

            if (!vehicleTypeElement || !fuelTypeElement || !gasStationElement ) {
                alert("Error: One or more form elements are missing.");
                return;
            }

            let vehicleData = {
                VehicleTypeId: vehicleTypeElement.value,
                FuelTypeId: fuelTypeElement.value,
                GasStationId: gasStationElement.value
            };

            fetch('@Url.Action("SetSession")', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(vehicleData)
            })
                .then(response => response.json())
                .then(data => {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Session values set successfully!',
                        toast: true,
                        position: 'top-middle',
                        showConfirmButton: false,
                        timer: 2500,
                        timerProgressBar: true
                    });
                })
                .catch(error => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Error setting session values.'
                    });
                    console.error("Error setting session:", error);
                });
        }
    </script>
  
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

}
