@model NEXT_BMS.Models.GasStationEntry
@using Insya.Localization;
@{
    ViewData["id"] = Model.Id;
}
@await Html.PartialAsync("Controls/_Common")
<div class="card border-start border-start-width-2 border-start-secondary border-end border-end-width-1 border-end-secondary rounded-0">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title fw-bold text-primary">
            @Html.Raw(Localization.Get(ViewData["action"].ToString())) | @Html.Raw(Localization.Get(ViewData["pageName"].ToString()))
        </h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-danger">
            <span class="fw-semibold">Deleting!</span> Are you sure you want to delete this?
            <i class="ph-x-circle float-end ms-2"></i>
        </div>
        <div class="row">
            <!-- Left column -->
            <div class="col-md-6">
                <table class="table table-borderless table-hover">
                    <tbody>
                        <tr>
                            <td class="fw-bold text-muted">@Html.DisplayNameFor(model => model.GasStation)</td>
                            <td>@Html.DisplayFor(model => model.GasStation.Name)</td>
                        </tr>
                        <tr>
                            <td class="fw-bold text-muted">@Html.DisplayNameFor(model => model.PlateNumber)</td>
                            <td>@Html.DisplayFor(model => model.PlateNumber)</td>

                        </tr>
                        <tr>
                            <td class="fw-bold text-muted">@Html.DisplayNameFor(model => model.Vehicle)</td>
                            <td>@Html.DisplayFor(model => model.Vehicle.Name)</td>
                        </tr>
                        <tr>
                            <td class="fw-bold text-muted">@Html.DisplayNameFor(model => model.FuelType)</td>
                            <td>@Html.DisplayFor(model => model.FuelType.Name)</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>

            <!-- Right column -->
            <div class="col-md-6">
                <table class="table table-borderless table-hover">
                    <tbody>
                       
                       
                       
                        <tr>
                            <td class="fw-bold text-muted">@Html.DisplayNameFor(model => model.User)</td>
                            <td>@Html.DisplayFor(model => model.User.FirstName)</td>
                        </tr>
                       
                        <tr>
                            <td class="fw-bold text-muted">@Html.DisplayNameFor(model => model.EntryDate)</td>
                            <td>@Html.DisplayFor(model => model.EntryDate)</td>
                        </tr>
                        <tr>
                            <td class="fw-bold text-muted">@Html.DisplayNameFor(model => model.Quantity)</td>
                            <td>@Html.DisplayFor(model => model.Quantity)</td>
                        </tr>
                        <tr>
                            <td class="fw-bold text-muted">@Html.DisplayNameFor(model => model.IsActive)</td>
                            <td>
                                <span class="badge bg-@(Model.IsActive ? "success" : "secondary")">
                                    @Html.DisplayFor(model => model.IsActive)
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
